:root {
  --dark: #333333;
  --medium: #4f4f4f;
  --light: #bdbdbd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono";
}
a {
  text-decoration: none;
}

h2 a {
  color: var(--dark);
  font-size: 24px;
}

section {
  width: 80%;
  margin: 0 auto;
}

.content a {
  padding: 15px;
  width: 215px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--dark);
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
}
main {
  margin-top: 100px;
  display: flex;
  align-items: center;
}
h1 {
  font-size: 60px;
  color: var(--dark);
  letter-spacing: -0.035em;
  font-weight: 700;
}
.content,
.content p {
  width: 70%;
}
.content p {
  letter-spacing: -0.035em;
  font-size: 24px;
  margin: 30px 0;
  color: var(--medium);
}

.hero img {
  width: 80%;
}
footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--light);
  margin-top: 70px;
}
footer p {
  text-align: center;
}
footer a {
  color: var(--light);
  text-decoration: underline;
  font-weight: 700;
  font-weight: 700;
}
@media (max-width: 768px) {
  section {
    width: 90%;
  }
  main {
    flex-direction: column;
  }
  .content,
  .content p {
    width: 100%;
  }
  .content p {
    font-size: 18px;
  }
  h1 {
    font-size: 50px;
  }
  .hero img {
    width: 90%;
  }
}
