:root{
  --dark: #333333;
--medium:  #4F4F4F;
--light: #BDBDBD;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Space Mono';
}
a{
  text-decoration: none;
}

h2 a{
  color: var(--dark);
  font-size: 24px;
}
h1{
  font-size: 60px;
  color: var(--dark);
  letter-spacing: -0.035em;
  font-weight: 700;
}
section{
  width: 80%;
  margin: 0 auto;
}

.content a{
  padding: 15px;
  width: 215px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
background-color: var(--dark);
display: inline-block;
margin-top: 20px;
font-size: 14px;


}
main{
  margin-top: 100px;
  display: flex;
  align-items: center;
}
.content{
  width: 70%;
}
.content p{
  width: 70%;
  letter-spacing: -0.035em;
  font-size: 24px;
  margin: 30px 0;
}



.hero img{
  width: 80%;
}
footer{
  font-family: 'Montserrat';
  font-size: 14px;
  color: var(--light);
position: absolute;
bottom: 10px;
text-align: center;
left: 40%;
}

footer a{
  color: var(--light);
  text-decoration: underline;
  font-weight: 700;
  font-weight: 700;
}