:root{
  --dark: #333333;
--medium:  #4F4F4F;
--light: #BDBDBD;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Space Mono';
}
footer{
  font-family: 'Montserrat';
}